@model MVC_StokTakipOtomasyonu.Models.Entity.Kategoriler
@{
    ViewBag.Title = "SilBigiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Silme Sayfası</h2>
<div class="container">
    @using (Html.BeginForm("Sil", "Kategoriler"))
    {
        <h1></h1>
        <h4>Kayıt silinsin mi?</h4>
        <div class="form-group">
            @Html.HiddenFor(x=>x.ID)
            <b>@Html.LabelFor(x => x.Kategori):</b>
            @Html.DisplayFor(x=>x.Kategori,new {@class="form-control" })
        </div>
        <div>
            <b>@Html.LabelFor(x => x.Aciklama):</b>
            @Html.DisplayFor(x => x.Aciklama, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-danger">Kategori Sil</button>
            |<a href="/Kategoriler/Index/">Ana Sayfa</a>
        </div>

    }


</div>
