@using MVC_StokTakipOtomasyonu.ActiveFolder
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/GenelScripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    @*<link href="~/GenelScripts/css/modern-business.css" rel="stylesheet">*@

</head>

<body>
    <br />
    <br />
  
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">MVC Stok Takip Otomasyonu</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @Html.ActivePage("Home","Index")">
                        <a class="nav-link" href="/Home/Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item @Html.ActivePage("Home","Hakkimizda")">
                        <a class="nav-link" href="/Home/Hakkimizda">Hakkımızda</a>
                    </li>
                    <li class="nav-item @Html.ActivePage("Home","Iletisim")">
                        <a class="nav-link" href="/Home/Iletisim">İletişim</a>
                    </li>
                    <li class="nav-item @Html.ActivePage("Home","Urunler")">
                        <a class="nav-link" href="/Home/Urunler">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Urunler/Index">Admin Paneli</a>
                    </li>
                    <li class="nav-item dropdown @Html.ActivePage("Home","Kategoriler")">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kategoriler
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">

                            @{
                                var db = new MVC_StokTakipOtomasyonu.Models.Entity.MVC_StokTakipEntities();
                                var modelk = db.Kategoriler.ToList();
                                foreach (var item in modelk)
                                {
                                    <a class="dropdown-item" href="/Home/Kategoriler/@item.ID">@item.Kategori</a>

                                }
                            }

                        </div>
                    </li>
                    <li class="nav-item dropdown @Html.ActivePage("Home","Markalar")">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Markalar
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            @{
                                var modelm = db.Markalar.ToList();
                                foreach (var item in modelm)
                                {
                                    <a class="dropdown-item" href="/Home/Markalar/@item.ID">@item.Marka</a>

                                }
                            }


                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
         
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>


    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/GenelScripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/GenelScripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
